body {
    margin: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

#mata {
    width: 70%;
    letter-spacing: 3rem;
    text-align: center;
    overflow: hidden;
    animation: wi 2s infinite ease-in-out alternate-reverse;
}

@keyframes wi {
    from {
        letter-spacing: 0.5rem;
        text-shadow: 0px 0px 5px white;
    }
    to {
        letter-spacing: 1rem;
        text-shadow: 0px 0px 15px white;
    }
}

.parallax {
    color: white;
    text-align: center;
    width: 100%;
    overflow: hidden;
    background: transparent;
}

#loading {
    font-family: 'Comfortaa', cursive;
    font-size: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(166deg, #000000, #000000, #000000);
    background-size: 600% 600%;
    transition: all 1s;
    width: 100%;
    height: 100% !important;
    position: fixed;
    z-index: 5000;
    color: white;
    overflow: hidden;
}

#check {
    top: 50%;
    padding: 7px;
    position: absolute;
    z-index: 2000;
    height: 40px;
    color: white;
    width: 200px;
    position: fixed;
    background: rgba(0, 0, 0, 0.582);
}

#icon {
    transition: all 1s;
    opacity: 0;
}

#text {
    transition: opacity .5s ease-in-out;
    font-family: 'Comfortaa', cursive;
}

#heading h1,
h3 {
    font-family: 'Comfortaa', cursive;
    font-weight: 900;
    animation-timing-function: ease-out;
    animation-name: game;
    animation-duration: 1s;
    letter-spacing: 5px;
}

@keyframes achive {
    from {
        width: 100px
    }
    to {
        width: 400px;
    }
}


/* specs */

#cli {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 10px 21px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#cli:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}

#cli:focus {
    outline: none;
}

tr {
    width: 100%;
}

td {
    padding: 14px;
    height: 100px;
    width: 100px;
}

#specs img {
    position: relative;
    height: 100%;
    width: 100%;
}

#apex {
    font-family: 'Comfortaa', cursive;
    position: relative;
    color: white;
    z-index: 10;
    text-align: center;
    padding: 20px;
    height: auto;
    width: 100%;
    overflow: hidden;
    /* background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.514)), url('165496.jpg'); */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#specs {
    float: left;
    background: rgba(255, 255, 255, 0.74);
    position: relative;
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

table,
th,
td {
    /* backdrop-filter: blur(10px); */
    background: rgba(0, 0, 0, 0.363);
    border: 1px solid rgba(255, 255, 255, 0.521);
    border-collapse: collapse;
}

th {
    width: 50%;
}

#anav {
    top: 20px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 40%;
}

#acon {
    /* letter-spacing: 3px;
    line-height: 2rem; */
    padding: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    height: auto;
    width: 40%;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}

#image {
    float: right;
    height: 100%;
    width: 40%;
    background: url(yi2gs4ei64041.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
}

.divs {
    width: 150px;
    height: 100px;
}


/* Battlefield */

#battlefield {
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

ul {
    padding: 1rem;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* https://wallpaperaccess.com/download/apex-legends-1096607 linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.514)), */

#scrolla {
    width: 100%;
    height: auto;
    background-color: red;
    white-space: nowrap;
    overflow-x: scroll;
}

#nav {
    font-weight: bolder;
    text-align: center;
    position: fixed;
    z-index: 1000;
    height: 60px;
    color: rgb(0, 0, 0);
    bottom: -200px;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.698);
    backdrop-filter: blur(5px);
}

#shade {
    display: flex;
    color: white;
    text-align: center;
    position: relative;
    height: 20%;
}

#achiv {
    font-family: 'Comfortaa', cursive;
    opacity: 0;
    transition: all 1s;
}

.achie {
    transition: all 1s;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: center;
    position: fixed;
    width: 400px;
    height: auto;
    color: #efefef;
    background: #3d4142;
    border-radius: 10em;
    position: fixed;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    min-height: 1.5em;
    overflow: hidden;
}

.button {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 10px 21px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.4);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}

button:focus {
    outline: 0;
}

#gcon {
    font-family: 'Comfortaa', cursive;
    letter-spacing: 2px;
    line-height: 30px;
    position: relative;
    width: 100%;
    z-index: 50;
    overflow: scroll;
    height: auto;
    top: 0px;
    text-align: center;
    color: white;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 101vh;
}

#heading {
    text-align: center;
    color: white;
    padding: 20px;
}

@keyframes shade {
    from {
        box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.4);
    }
    to {
        box-shadow: 0px 50px 0px rgba(255, 255, 255, 0.4);
    }
}

@keyframes game {
    from {
        letter-spacing: 1px;
    }
    to {
        letter-spacing: 5px;
    }
}

#shapes {
    display: none;
    height: auto;
    position: fixed;
}

#foot {
    font-family: 'Poppins', sans-serif;
    display: none;
    position: fixed;
    bottom: 50px;
    animation: wi 2s infinite ease-in-out alternate-reverse;
}

#sl {
    display: none;
}

@media only screen and (max-device-width: 768px) {
    #heading {
        margin-top: -100px;
    }
    #apex {
        background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.507)), url(yi2gs4ei64041.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 20%;
    }
    #check {
        display: none;
    }
    #sl {
        display: flex;
    }
    #mata,
    #foot {
        display: none;
    }
    #shapes {
        display: inline;
    }
    #nhead {
        display: none;
    }
    .button:hover {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.4);
        color: rgb(0, 0, 0);
    }
    #anav {
        width: 80%;
    }
    #acon {
        letter-spacing: 2px;
        line-height: 1.5rem;
        width: 90%;
    }
    #cli {
        transform: translateY(-2px);
        font-size: small;
    }
}

hr {
    color: white;
}

#footer {
    padding-top: 50px;
    padding-bottom: 99px;
    color: white;
    font-family: monospace;
    height: auto;
}

#temp {
    height: 600px;
    width: 100%;
    position: relative;
    background: wheat;
}


/* Loading small */

.clearfix:after {
    clear: both;
}

.left {
    float: left;
}

@keyframes equalize1 {
    0% {
        border-bottom-right-radius: 0px;
    }
    100% {
        border-bottom-right-radius: 128px;
        border-top-left-radius: 0px;
        background: rgb(255, 255, 255);
    }
}

@keyframes equalize2 {
    0% {
        border-bottom-left-radius: 0px;
    }
    100% {
        /* transform: scale(1.2); */
        border-bottom-left-radius: 128px;
        border-top-right-radius: 0px;
        background: rgb(255, 255, 255);
    }
}

@keyframes equalize3 {
    0% {
        border-top-right-radius: 0px;
    }
    100% {
        /* transform: scale(1.2); */
        border-top-right-radius: 128px;
        border-bottom-left-radius: 0px;
        background: rgb(255, 255, 255);
    }
}

@keyframes equalize4 {
    0% {
        border-top-left-radius: 0px;
    }
    100% {
        /* transform: scale(1.2); */
        border-top-left-radius: 128px;
        border-bottom-right-radius: 0px;
        background: rgb(255, 255, 255);
    }
}

.shiva div {
    background: transparent;
}

.trans {
    -webkit-transition: background 1s, border-radius 1s;
    transition: background 1s, border-radius 1s;
}

#sett {
    display: inline;
}

.shiva {
    position: absolute;
    display: flex;
    /* flex-wrap: wrap; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 100px solid rgb(255, 255, 255);
    border-right: 100px solid transparent;
    animation: equalize1 1s infinite ease-in-out alternate-reverse;
}

#triangle-topright {
    width: 0;
    height: 0;
    border-top: 100px solid rgb(255, 255, 255);
    border-left: 100px solid transparent;
    animation: equalize2 1s infinite ease-in-out alternate-reverse;
}

#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid rgb(255, 255, 255);
    border-right: 100px solid transparent;
    animation: equalize3 1s infinite ease-in-out alternate-reverse;
}

#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 100px solid rgb(255, 255, 255);
    border-left: 100px solid transparent;
    animation: equalize4 1s infinite ease-in-out alternate-reverse;
}